.container
  %p.header_text Boards
  %hr.border_room

  %h1.tabs_text Brackets
  - @tasks.each do |task|
    = render 'commons/task'

.container
  = link_to new_task_path(@task) do
    .add_card +Add new task


