.container
  %p.header_text Boards
  %hr.border_room

  %h1.tabs_text Brackets
  - @tasks.each do |task|
    = render 'commons/task'

.container
<<<<<<< Updated upstream
  = link_to new_task_path(@board), controller: "tasks", action: "new" do
=======
  = link_to new_task_path(@task, id: params[:id]), controller: "tasks", action: "new" do
>>>>>>> Stashed changes
    .add_card +Add new task
