.container
  %p.header_text Task
  %hr.border_room

  = render 'commons/task', task: @task

  %p コメント一覧
  - @comments.each do |comment|
    %h3
      = comment.content

  .card_add 
    = link_to '+ Add new comment', new_task_comment_path(@task)