%h1 Tasks#show
%p Find me in app/views/tasks/show.html.erb
%table
  %tr
    %th Title
    %td= @task.title
  %tr
    %th Description
    %td= @task.description
  %tr
    %th User.Email
    %td= @task.user.email
%p= link_to '一覧に戻る', tasks_url
