.container
  %p.header_text 
  %hr.border_room

  .board_detail
    %h3.board_title
      = @task.title
    %p.board_content
      = @task.content

    %p コメント一覧
    - @comments.each do |comment|
      %h3.board_title
        = comment.comment

.container
  = link_to new_task_comment_path(@task)
  .add_card + Add new comment