.container
  .wrap.tabs
    %p.header_text Boards
    .border_room
    %h1.tabs-text All Boards
    .tabs-box
      .task-card
        - @boards.each do |board|
          = board.title
            - link_to 'board_path'
      .add-task
        - render 'board#new' do
        .add-new-board +Add new board

