.container
  %div
    %p.header_text Boards
    %hr.border_room
  
  %h1.tabs_text All Boards
  - @boards.each do |board|
    = render 'commons/board', board: board

.container
  = link_to new_board_path do
    .card_add +Add new board