.container
  %p.header_text Tasks
  %hr.border_room
  
  %div
    - @tasks.each do |task|
      = render 'commons/task', task: task

.container
  = link_to new_board_task_path(@board) do
    .card_add
      +Add new task