@import "_variables";

.tabs{
    font-family: Arial, Helvetica, sans-serif;
    
}

.tab_box{
    position: relative;
    width: 362px;
    height: 161px;
    left: 30px;
    top: 161px;

    background: #f4f4f4;
    border-radius: 10px;}