.tabs{
    font-family: Arial, Helvetica, sans-serif;
    
}

.add_board{
    position: absolute;
    width: 362px;
    height: 160px;
    left: 30px;
    top: 348px;

    background: #ffffff;
    border: 1px dashed rgba(0,0,0,0.2);
    border-radius: 10px;
}

.tab_box{
    position: absolute;
    width: 362px;
    height: 161px;
    left: 30px;
    top: 161px;

    background: #f4f4f4;
    border-radius: 10px;
}

.card_detail{
    text-decoration: none;
    position: absolute;
    width: 362px;
    height: 160px;
    left: 30px;
    top: 348px;

    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.add-new-board {
    width: 100%;
    padding: 100px 0;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}