@import './variables';

.card{

  position: relative;
  text-decoration: none;

  &_detail{
      width: 362px;
      height: 161px;
      left: 30px;
      top: 161px;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      
      background: #F4F4F4;
      border-radius: 10px;
      margin-bottom: 20px;
    }

  &_title{
      position: absolute;
      font-weight: bold;
      font-size: 20px;
      /* identical to box height */
      color: #000000;

      left: 20px;
  }
  &_content{
    margin-top: 60px;
    margin-left: 20px;
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #414040;

    mix-blend-mode: normal;
    opacity: 0.4;
  }

  &_add{
      margin-top: 19px;
      
      background: #FFFFFF;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      height: 25px;
      width: 362px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      /* identical to box height */
      text-decoration: none;
      color: #000000;
  }
}

.dropbtn{
    border: none;
    width: 20px;
    height: 20px;
    left: 325px;
    margin-top: px;

    position: relative;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-weight: normal;
    display: none;
    left: 300px;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    &.mini {
      min-width: 100px;
    }
  }
  
  .dropdown-content a {
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    color: $text-base-color;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    top: 20px;
    left: 260px;
  }